<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn" strict="true"
               name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <Filter type="ThresholdFilter" level="trace"/>
    <Appenders>
        <Console name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{yyyy MMM dd HH:mm:ss} [%t] %-5level %logger{1} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>